body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

form > div, input, button {
    margin: 1rem 0;
    padding: 1rem;
    border-radius: .5em;
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
}